<img src="{{response.image}}" alt="Foto">

<div class="details">
    <p> <a href="/movies/">Go back</a></p>
    <h2> {{response.title}}</h2>

    

<h3> Director: {{response.director}}</h3>
<h4>Stars</h4>
<ul>{{#each response.stars}}
 <li>{{this}}</li>
{{/each}}</ul>
<p> {{response.description}}</p>
{{#each response.showtimes}}
 {{this}} |
{{/each}}




</div>